

.neuro-zinc-50{
    box-shadow:  12px 12px 24px #dadada, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-100{
    box-shadow:  12px 12px 24px #d6d6d6, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-200{
    box-shadow:  12px 12px 24px #c4c4c4, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-300{
    box-shadow:  12px 12px 24px #b3b3b3, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-400{
    box-shadow:  12px 12px 24px #8c8c8c, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-500{
    box-shadow:  12px 12px 24px #5b5b5b, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-600{
    box-shadow:  12px 12px 24px #3a3a3a, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-700{
    box-shadow:  12px 12px 24px #292929, -12px -12px 24px #ffffff !important;
}

.neuro-zinc-800 {
    box-shadow:  12px 12px 24px #0f172a, -12px -12px 24px #2c3a4a !important;
}

.neuro-zinc-900 {
    box-shadow:  12px 12px 24px #0b0b0c, -12px -12px 24px #25252a !important;
}


.neuro-green-50{
    box-shadow:  12px 12px 24px #d1dcd4, -12px -12px 24px #ffffff !important;
}

.neuro-green-100{
    box-shadow:  12px 12px 24px #b7f5d0, -12px -12px 24px #f6fffe !important;
}

.neuro-green-200{
    box-shadow:  12px 12px 24px #86efac, -12px -12px 24px #e2fffc !important;
}

.neuro-green-300{
    box-shadow:  12px 12px 24px #4ade80, -12px -12px 24px #c6fff9 !important;
}

.neuro-green-400 {
    box-shadow:  12px 12px 24px #2c854d, -12px -12px 24px #68ffb3 !important;
}

.neuro-green-500 {
    box-shadow:  12px 12px 24px #0d7f5f, -12px -12px 24px #1de9b6 !important;
}

.neuro-green-600 {
    box-shadow:  12px 12px 24px #045d4a, -12px -12px 24px #0abf9a !important;
}

.neuro-green-700 {
    box-shadow:  12px 12px 24px #03443a, -12px -12px 24px #08a175 !important;
}

.neuro-green-800 {
    box-shadow:  12px 12px 24px #04332a, -12px -12px 24px #0b8a6f !important;
}

.neuro-green-900 {
    box-shadow:  12px 12px 24px #042a24, -12px -12px 24px #0a6f5c !important;
}