
@tailwind base;
@tailwind components;
@tailwind utilities;


/* global styles */
* {
    font-family: 'Montserrat', sans-serif;
}
.dark *:not(.untheme):not(svg):not(path):not(span):not(a){
    color: #fff;
    border-color: rgb(136, 136, 136);
}